@import url(style.css);

*{
    
}

body {
    font-family: "PressStart2P";
    src: url("../fonts/PressStart2P-Regular.ttf");
    background: var(--color1);
}

.header {  
    margin-bottom: 50px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    
    height: 30px;
}

.navbar-links{
    list-style-type: none;
    display: flex;
    gap:50px;
}

.navbar-links a{
    color: #bac4e3;
    text-decoration: none;
    font-weight: bold;

}

.navbar-links a:hover{
    color: #faf9f5;
    transition-duration: 0.4s;
    text-decoration: none;
}

a:active{
    color: black;
}

h1{
    padding-left: 60px;
    padding-top: 20px;
    color: white;
}

.search-box{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 25px;
}

button{
    background-color: black;
    color: white;
    padding: 10px;
}


.item {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(255, 231, 186);
    border: 5px outset var(--color5);
    margin-bottom: 45px;
    padding: 20px;
}

.item-link{
    text-decoration: none;
    display: block;
}

.item-link:hover{
    transform: translateY(-2px);
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px ridge #17053ed3;
    flex-shrink: 0;
    overflow: hidden;
    background: #ddd;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content h3 {
    margin: 0 0 8px 0;
    font-size: 15px;
    text-shadow: #000000;
}

.content p {
    margin: 0;
    color: #000000;
    font-size: 10px;
    word-break: break-word;    
}

.author-info {
    text-align: right; 
    line-height: 1.5;
    padding-right: 40px;
}

#loginDialog{
    align-items: center;
}

@media (max-width: 768px) {  
    .item {
        flex-direction: column; 
        text-align: center;     
        margin-right: 20px; 
        gap: 15px;
    }

    .author-info {
        text-align: center; 
        margin-left: 0;
        margin-right: 0;
        border-top: 1px solid rgba(0,0,0,0.1); 
        padding-top: 10px;
        width: 100%;
    }

    .avatar {
        width: 120px;  
        height: 120px;
    }

    .navbar-links {
        gap: 20px; 
    }

    .content p{
        width: 30;
    }
    

}

