@import url(style.css);

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "PressStart2P";
    src: url("../fonts/PressStart2P-Regular.ttf");
    background: rgb(24, 18, 108);
    margin: 0;
}

.header {  
    margin-bottom: 50px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: lightsteelblue;
    padding: 15px 10px;
    height: 30px;
 
}

.navbar-links{
    list-style-type: none;
    display: flex;
    gap:50px;
}

.navbar-links a{
    color: #b4bdda;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links a:hover{
    color: #faf9f5;
    transition-duration: 0.7s;
}



.profile{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    text-shadow: 1px 4px black;
    gap: 10%;
}

.profile-info{
    font-size: 150%;
    padding-left: 10%;
}

.profile-info h1{
    margin-top: 55px;
}

.profile-image img{
    border: 10px ridge black;
    width: 65%;
}


.rating-bar{
    margin-top: 55px;
    padding: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.rating-heading{
    color: rgb(223, 226, 78);
    text-shadow: 1px 3px rgba(171, 161, 11, 0.718);
    font-weight: bold;
    font-size: 210%;
}

.stars{
    display: flex;
    flex-direction: row-reverse;
    gap: 6%;
}

.stars input{
    display: none;
}

.stars label{
    font-size: 230%;
    color: yellow;
    opacity: 0.5;
}

.stars label:hover, .stars label:hover ~ label{
    opacity: 1;
}

.about{
    background-color: var(--color5);
}

.information{
    padding: 25px;
}

.info-box{
    background-color: var(--color1);
    color: aliceblue;
    text-shadow: 1px 5px black;
    border: 5px black outset;
    padding: 30px;
}

.authors-books{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.authors-books img{
    border: 6px rgb(217, 219, 179) inset;
}



.book-card{
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
}

.book-card img {
    width: 95%;
    border: 7px rgb(223, 230, 13) outset;
}

.authors-books img:hover{
    transform: translateY(-2px);
    border: 7px rgb(255, 255, 0) inset;
}



/*responsive part*/

@media (max-width:767px){
    .profile-info{
        font-size: 90%;
    }
    .profile-info h1{
        margin-top: 20px;
    }

    .rating-bar{
        flex-direction: column;
    }

    .authors-books{
        flex-direction: column;
        gap: 30px;
    }

    .book-card{
        max-width: 600px;
    }
}

